html
    head
        title Employee - Login
        link(rel="stylesheet", href="static/css/global.css")
        link(rel="stylesheet", href="static/css/hospital__login.css")
    body
        nav
            a.logo(href="/") HOSPITAL MANAGEMENT
            div.nav-items
                a.nav-item(href="/hospital") HOSPITAL LOGIN
                a.nav-item(href="/employee") EMPLOYEE LOGIN
        main.flex
            div.hospital__login
                h1 EMPLOYEE LOGIN
                form(action="/employee", method="post")
                    input(type="email", name="email", placeholder="EMPLOYEE EMAIL", required="true")
                    input(type="password", name="password", placeholder="EMPLOYEE PASSWORD", required="true")
                    input.primary-button(type="submit", value="LOGIN")
                if error
                    p.text= error 
            img.splash(src="static/images/undraw_medicine_b1ol.svg")