html
    head
        title Employee - Home
        link(rel="stylesheet", href="static/css/global.css")
    body
        nav
            a.logo(href="/") HOSPITAL MANAGEMENT
            div.nav-items
                a.nav-item(href="/employee/home") BOOK RIDE
                a.nav-item(href="/employee/appointments") SHOW APPOINTMENTS
                a.nav-item(href="/logout") LOGOUT
        main.flex
            div.hospital__login
                h1 BOOK RIDE
                form(action="/employee/book-ride", method="POST")
                    input(type="text", name="pickup_location", placeholder="PICKUP LOCATION", required="true")
                    input(type="date", name="date", placeholder="DATE", required="true")
                    input(type="time", name="time", placeholder="TIME", required="true")
                    input(type="text", name="destination", placeholder="DESTINATION", required="true")
                    input(type="text", name="customer_name", placeholder="CUSTOMER NAME", required="true")
                    input(type="number", name="customer_contact_number", placeholder="CUSTOMER CONTACT NUMBER", required="true")
                    input.primary-button(type="submit", value="BOOK")
                if error
                    p.text= error 
            img.splash(src="static/images/undraw_medicine_b1ol.svg")