html
    head
        title Employee - Home
        link(rel="stylesheet", href="static/css/global.css")
        link(rel="stylesheet", href="static/css/table.css")
    body
        nav
            a.logo(href="/") HOSPITAL MANAGEMENT
            div.nav-items
                a.nav-item(href="/employee/home") BOOK RIDE
                a.nav-item(href="/employee/appointments") SHOW APPOINTMENTS
                a.nav-item(href="/logout") LOGOUT
        main
            div.hospital__appointments
                h1 APPOINTMENTS
                table
                    thead
                        tr
                            th PATIENT NAME
                            th APPOINTMENT DATE
                            th APPOINTMENT TIME
                            th ADDRESS
                            th CONTACT NUMBER
                    tbody
                        each appointment in appointments
                            tr
                                td= appointment.patient_name
                                td= appointment.date
                                td= appointment.time
                                td= appointment.address
                                td= appointment.contact_number
                