html
    head
        title Hospital - Home
        link(rel="stylesheet", href="static/css/global.css")
    body
        nav
            a.logo(href="/") HOSPITAL MANAGEMENT
            div.nav-items
                a.nav-item(href="/employee/home") BOOK RIDE
                a.nav-item(href="/employee/appointments") SHOW APPOINTMENTS
                a.nav-item(href="/logout") LOGOUT
        main.flex
            div.hospital__login
                if success
                    h1 RIDE BOOKED 
                else
                    h1 FAILED TO BOOK RIDE 
                
            img.splash(src="static/images/undraw_medicine_b1ol.svg")