html
    head
        title Hospital - Home
        link(rel="stylesheet", href="static/css/global.css")
    body
        nav
            a.logo(href="/") HOSPITAL MANAGEMENT
            div.nav-items
                a.nav-item(href="/hospital/home") ADD APPOINTMENT
                a.nav-item(href="/hospital/add-employee") ADD EMPLOYEE
                a.nav-item(href="/logout") LOGOUT
        main.flex
            div.hospital__login
                h1= message
                
            img.splash(src="static/images/undraw_in_the_office_o44c.svg")