html
    head
        title Hospital - Home
        link(rel="stylesheet", href="static/css/global.css")
    body
        nav
            a.logo(href="/") HOSPITAL MANAGEMENT
            div.nav-items
                a.nav-item(href="/hospital/home") ADD APPOINTMENT
                a.nav-item(href="/hospital/add-employee") ADD EMPLOYEE
                a.nav-item(href="/logout") LOGOUT
        main.flex
            div.hospital__login
                h1 ADD APPOINTMENT
                form(action="/hospital/add-appointment", method="POST")
                    input(type="name", name="patient_name", placeholder="PATIENT NAME", required="true")
                    input(type="date", name="date", placeholder="APPOINTMENT DATE", required="true")
                    input(type="time", name="time", placeholder="APPOINTMENT TIME", required="true")
                    input(type="text", name="address", placeholder="ADDRESS", required="true")
                    input(type="number", name="contact_number", placeholder="CONTACT NUMBER", required="true")
                    input.primary-button(type="submit", value="ADD")
                if error
                    p.text= error 
            img.splash(src="static/images/undraw_in_the_office_o44c.svg")