html
    head
        title Hospital - Add employee
        link(rel="stylesheet", href="static/css/global.css")
    body
        nav
            a.logo(href="/") HOSPITAL MANAGEMENT
            div.nav-items
                a.nav-item(href="/hospital/home") ADD APPOINTMENT
                a.nav-item(href="/hospital/add-employee") ADD EMPLOYEE
                a.nav-item(href="/logout") LOGOUT
        main.flex
            div.hospital__login
                h1 ADD EMPLOYEE
                form(action="/hospital/add-employee", method="POST")
                    input(type="email", name="email", placeholder="EMPLOYEE EMAIL", required="true")
                    input(type="password", name="password", placeholder="EMPLOYEE PASSWORD", required="true")
                    input.primary-button(type="submit", value="ADD")
                if error
                    p.text= error 
            img.splash(src="static/images/undraw_in_the_office_o44c.svg")