html
    head
        title Hospital - Login
        link(rel="stylesheet", href="static/css/global.css")
        link(rel="stylesheet", href="static/css/hospital__login.css")
    body
        nav
            a.logo(href="/") HOSPITAL MANAGEMENT
            div.nav-items
                a.nav-item(href="/hospital") HOSPITAL LOGIN
                a.nav-item(href="/employee") EMPLOYEE LOGIN
        main.flex
            div.hospital__login
                h1 HOSPITAL LOGIN
                form(action="/hospital", method="POST")
                    input(type="email", name="email", placeholder="HOSPITAL EMAIL", required="true")
                    input(type="password", name="password", placeholder="HOSPITAL PASSWORD", required="true")
                    input.primary-button(type="submit", value="LOGIN")
                if error
                    p.text= error 
            img.splash(src="static/images/undraw_in_the_office_o44c.svg")