html
    head
        title Hospital Management
        link(rel="stylesheet", href="static/css/global.css")
    body
        nav
            a.logo(href="/") HOSPITAL MANAGEMENT
            div.nav-items
                a.nav-item(href="/hospital") HOSPITAL LOGIN
                a.nav-item(href="/employee") EMPLOYEE LOGIN
        main.flex
            div.hospital__login
                h1 REGISTER HOSPITAL
                form(action="/", method="POST")
                    input(type="email", name="email", placeholder="HOSPITAL EMAIL", required="true")
                    input(type="password", name="password", placeholder="HOSPITAL PASSWORD", required="true")
                    input.primary-button(type="submit", value="REGISTER")
                if error
                    p.text= error
            img.splash(src="static/images/undraw_doctor_kw5l.svg")