@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800;900&display=swap');

:root {
    --purple: #322d8f;
    --black: #191a1b;
    --yellow: #FCA311;
    --ash: #E5E5E5;
    --font: 'Montserrat', sans-serif;
    --page-padding: 15vw;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 13vh;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--page-padding);
    box-sizing: border-box;
}

.primary-button {
    background-color: var(--purple);
    color: var(--ash);
    padding: 10px 25px;
    border-radius: 20px;
    font-family: var(--font);
    font-weight: 600;
    font-size: 14px;
    border: 2px solid transparent;
    transition: all 200ms linear;
    cursor: pointer;
}

.primary-button:hover {
    background-color: transparent;
    border: 2px solid var(--purple);
    color: var(--purple);
}

.nav-item {
    font-family: var(--font);
    font-weight: 600;
    color: var(--ash);
    font-size: 14px;
    transition: all 50ms linear;
}
.nav-item:hover {
    margin-bottom: 5px;
}

h1 {
    font-family: var(--font);
    font-size: 25px;
    font-weight: 800;
    color: var(--purple);
}

.logo {
    font-family: var(--font);
    font-size: 25px;
    font-weight: 900;
    color: var(--ash);
    transition: all 50ms linear;
}

.logo:hover {
    margin-bottom: 5px;
}

.nav-items {
    display: flex;
    gap: 15px;
    align-items: center;
}

main {
    height: 87vh;
    padding: 0 var(--page-padding);
    gap: 30px;
}

main.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.splash {
    height: 350px;
}

.text {
    font-family: var(--font);
    font-size: 16px;
    color: var(--black);
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

input {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid var(--purple);
    font-family: var(--font);
    color: var(--purple);
    outline: none;
    font-weight: 600;
}

input::placeholder {
    font-family: var(--font);
    color: var(--purple);
    font-weight: 600;
}