table {
    border: 2px solid var(--purple);
    font-family: var(--font);
    border-collapse: collapse;

}

thead {
    background-color: var(--purple);
    color: var(--ash);
}

th, td {
    padding: 10px 20px;
}

td {
    color: var(--purple);
}